<div class="product p-2 pb-4 mb-3 bg-dark text-light rounded" data-toggle="tooltip" data-placement="bottom" title="{{ product.title }}">
  <a [routerLink]="['/productDetails', product.id]">
    <img class="w-100 mb-3" src="{{ product.imageCover }}" alt="">
    <p class="text-main">{{ product.category.name }}</p>
    <h2 class="h6">{{ product.title.split(" ").splice(0, 2).join(" ") }}</h2>
    <div class="d-flex justify-content-between">
      <span>{{ product.price }} EGP</span>
      <div><i class="fa fa-star me-2"></i>{{ product.ratingsAverage }}</div>
    </div>
    <button class="btn bg-main w-100 text-light">+ add</button>
  </a>
</div>
