<div class="container my-5">
  <h2 class="text-center mb-4 text-uppercase fw-bold">WishList Details</h2>
  <div class="bg-main-light p-4 rounded border shadow-sm" >
    <div class="d-flex justify-content-between mb-3">
      <h2>Your WishList Details</h2>
    </div>


    <div *ngIf="wishListCount == 0">
      <div class="alert alert-info text-capitalize">your wishlist is empty go to <a routerLink="/home" class="bg-main text-white p-2 rounded mx-2">home</a> and add some items</div>
    </div>

    <div class="row px-3 mb-4 align-items-center" *ngFor="let item of wishlist">

      <div class="col-md-2">
        <img class="w-100 rounded border shadow mb-4 mb-md-0" [src]="item.imageCover" alt="">
      </div>

      <div class="col-md-10">
        <div class="item">
          <h4>{{ item.title }}</h4>
          <p class="text-main">{{ item.description }}</p>
          <div class="d-flex align-items-center">
            <p class="text-main mb-0">{{ item.price | currency : "EGP "}}</p>
            <button class="btn text-danger px-0 ms-3" (click)="removeFromWishList(item.id)"><i class="fa fa-regular fa-trash-can"></i> Remove</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
