<div class="container my-5">
  <h3 class="text-center mb-3 text-uppercase">Enter Your Email</h3>

  <!-- Api Errors -->
  <!-- <div class="alert alert-danger" *ngIf="apiError">
    <p class="mb-0">{{ apiError }}</p>
  </div> -->

  <form class="w-50 m-auto bg-dark text-light p-4 rounded-3" action="" [formGroup]="ForgotPasswordForm" (ngSubmit)="sendEmail(ForgotPasswordForm)">
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control my-2" formControlName="email">
      <!-- errors -->
      <!-- <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || isNotValidForm)">
        <p *ngIf="loginForm.get('email')?.getError('required')" class="mb-0">Email is required</p>
        <p *ngIf="loginForm.get('email')?.getError('email')" class="mb-0">Email Invalid</p>
      </div> -->
    </div>

    <button class="btn btn-success d-block w-100" type="submit" [disabled]="ForgotPasswordForm.invalid">
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">
        <i class="fa fa-check me-2"></i> Send
      </span>
    </button>

  </form>
</div>
