<div class="container my-5">
  <h3 class="text-center mb-5">Create A New Account</h3>
  <!-- <h4>{{registerForm.get('name')?.errors | json}}</h4> -->

  <div class="alert alert-danger" *ngIf="apiError">
    <p class="mb-0">{{ apiError }}</p>
  </div>

  <form class="w-75 m-auto" action="" [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
    <div class="form-group mb-3">
      <label for="name">Name</label>
      <input id="name" type="text" class="form-control my-2" formControlName="name">
      <!-- errors -->
      <div class="alert alert-danger" *ngIf="registerForm.get('name')?.errors && (registerForm.get('name')?.touched || isNotValidForm)">
        <p *ngIf="registerForm.get('name')?.getError('required')" class="mb-0">name is required</p>
        <p *ngIf="registerForm.get('name')?.getError('minlength')" class="mb-0">name min length is 3</p>
        <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="mb-0">name max length is 10</p>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control my-2" formControlName="email">
      <!-- errors -->
      <div class="alert alert-danger" *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched || isNotValidForm)">
        <p *ngIf="registerForm.get('email')?.getError('required')" class="mb-0">Email is required</p>
        <p *ngIf="registerForm.get('email')?.getError('email')" class="mb-0">Email Invalid</p>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="password">Password</label>
      <input id="password" type="password" class="form-control my-2" formControlName="password">
      <!-- errors -->
      <div class="alert alert-danger" *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched || isNotValidForm)">
        <p *ngIf="registerForm.get('password')?.getError('required')" class="mb-0">Password is required</p>
        <p *ngIf="registerForm.get('password')?.getError('pattern')" class="mb-0">Password Invalid</p>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="repassword">Confirm Password</label>
      <input id="repassword" type="password" class="form-control my-2" formControlName="rePassword">
      <!-- errors -->
      <div class="alert alert-danger" *ngIf="registerForm.get('rePassword')?.errors && (registerForm.get('rePassword')?.touched || isNotValidForm)">
        <p *ngIf="registerForm.get('rePassword')?.getError('required')" class="mb-0">Email is required</p>
        <p *ngIf="registerForm.get('rePassword')?.getError('pattern')" class="mb-0">Password Invalid</p>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="phone">Phone</label>
      <input id="phone" type="text" class="form-control my-2" formControlName="phone">
      <!-- errors -->
      <div class="alert alert-danger" *ngIf="registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || isNotValidForm)">
        <p *ngIf="registerForm.get('phone')?.getError('required')" class="mb-0">Phone Number is required</p>
        <p *ngIf="registerForm.get('phone')?.getError('minlength')" class="mb-0">Phone Number must be at least 10 numbers</p>
        <p *ngIf="registerForm.get('phone')?.getError('maxlength')" class="mb-0">Phone Number must be at max 12 numbers</p>
      </div>
    </div>
    <button [disabled]="registerForm.invalid" class="btn btn-success ms-auto d-block" type="submit">
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">
        <i class="fa fa-check me-2"></i>
        register
      </span>
    </button>

  </form>
</div>
